*{
    margin: 0;
    padding: 0;
}

.nav{
    top:-130px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
    top: 100px;
} 

.container h2{
    font-size: 80px;
    left:16px;
    top:-100px;
}

.smalltext{
    top:700px;
    opacity: 1;
}